.body {
    font-family: 'Tangerine', serif;;
    text-align: center;
    color: #0C2340;
    font-size: larger;
}

.rose-text-color {
    color: rosybrown !important;
}

.jumbotron {
    padding: 20px;
    font-size: 75px;
    color: #0C2340;
}

.display-1 {
    font-size: 9rem;
}
.lead {
    font-size: 30px; 
    text-align: center;
    color: #0C2340;
    padding-top: 0%;
    padding-bottom: 0%;
}

.flower {
    width: 25%;
    height: 25%;
}

.flower2 {
    transform: scaleX(-1);
}

.navbar {
    font-size:xx-large;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    border-bottom: 1px solid rgb(12, 35, 64, .2);
    background-color: #0C2340;
}
.nav-link {
    color: rosybrown;
}
.space-divider {
    width: 10%;
}

.nav-link:hover {
    color: #0C2340;
    background-color: rosybrown;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}
.rsvp {
    font-size: 1.2rem;
    width: 6em;
}
.header-padding {
    padding-bottom: 0%;
    margin: none;
}
.form-label {
    font-size: 1.2em;
    padding-bottom: 0%;
    margin-bottom: none;
}
.container-form {
    width: 40%;
}
.card {
    margin: 0 auto;
    font-size: 1.7rem;
}

form {
    border: 1px solid #0C2340;
    font-size: x-large;
    color: rosybrown;
    border-radius: 20px;
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #0C2340;
}
.book-now-btn{
    font-size: xx-large;
    width: 12rem;
}